@font-face {
  font-family: 'sofia-light';
  src: url('../assets/sofiapro-light.woff2') format('woff2'),
       url('../assets/sofiapro-light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'league-spartan';
  src: url('../assets/leaguespartan.woff2') format('woff2'),
       url('../assets/leaguespartan.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@media only screen and (max-width: 767px) and (min-width: 412px) {
  .aboutContainer {
    width: 200px!important;
  }

  .interestsContainer {
    height: 700px!important;
  }
}


/* iPADs
@media only screen and (max-width: 1200px) and (max-width: 1100px) {
  .aboutMePicContainer {
    bottom: 15px!important;
  }

  .aboutContainer {
    width: 700px!important;
    height: 650px!important;
    margin-bottom: 30px!important;
  }

  .interestsText {
    width: 600px!important;
    font-size: 1.15rem!important;
    line-height: 1.3rem!important;
  }


  .projectContainer {
    width: 750px!important;
  }

  .carouselContainer {
    width: 800px!important;
  }
} */

/* Old Iphones */
@media only screen and (max-width: 750px) {
  .menuContainer {
    width: 400px!important
  }

  .aboutMePicContainer {
    bottom: -30px!important;
  }

  .aboutContainer {
    height: 700px!important;
    width: 380px!important;
  }

  .techStackContainer {
    max-width: 90%!important;
  }

  .techStackWrapper {
    min-width: 30%!important;
    height: 350px!important;
  }

  .demoTechStack {
    width: 350px!important;
    padding-left: 20px!important;
  }

  .contactContainer {
    width: 300px!important;
  }
}

/* New iPhones */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3) {
  .menuContainer {
    width: 375px!important;
  }

  .menuButton {
    max-height: 60px!important;
    max-width: 100px!important;
    min-width: 100px!important;
    padding: 5px!important;
  }

  #buttonHeading {
    background-color: rgba(0,0,0,.1)!important;
  }

  .aboutMePicContainer {
    bottom: -45px!important;
  }

  .aboutContainer {
    height: 700px!important;
    width: 350px!important;
  }

  .projectContainer {
    width: 600px!important;
  }
  

  .interestsText {
    max-width: 275px;
    line-height: 15px!important;
  }

  .techStackContainer {
    max-width: 80%!important;
    
  }

    .tabsContainer {
      bottom: 70px!important;
    }

  .techItemWrapper {
    gap: 5px!important;
  }


  .techStackWrapper {
    min-width: 50%!important;
    height: 350px!important;
  }

  .carouselButton {
    z-index: 11;
    /* position: absolute!important; */
    border: 1px solid white;
    
  }

  .demoImgContainer {
    z-index: 4;
  }


 

  .projectContainer {
    height: 1150px!important;
    padding: 20px!important;
  }
  
}


/* for big 27 in screens */
@media (min-width: 1820px) and (max-width: 2599px) {
  .menuContainer {
    margin-top: 500px!important;
    width: 600px!important;
    height: 350px!important;
  }

  .aboutContainer {
    margin-top: 65vh!important;
  }

  .demoImg {
    height: 660px!important;
    width: 520px!important;
  }


  .projectContainer {
    height: 1150px!important;
  }


}



html {
  scroll-behavior: smooth;
}



#particles {
  z-index: -5;
  position: fixed;
}

#test {
  z-index: 5;
  color: red;
  border: 1px solid white;
}

body {
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.menuContainer {
  margin-top: 250px;
  width: 500px;
  height: 300px;
  background:rgba(20, 20, 20, 0.85);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 2.5px;
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuContainer:hover {
  border: 1px solid rgb(119, 114, 134);
}

#header {
  background-color: grey;
  padding: 8px;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.2;
  padding: 10px;
  padding-top: 15px;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonHeading {
  font-family: "sofia-light";
  background-color: rgba(0,0,0,.6);
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#headerText {

  padding: 2px;
  color: rgb(218, 218, 215);
  -webkit-text-stroke: 1px solid #000000;
  text-rendering: optimizeLegibility;
  font-family: 'sofia-light';
  filter: drop-shadow(0 0 0.75rem #777286);
}



#scrollUpContainer {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 0;
  margin-right: 20px;
  height: 40px;
  background-color: rgb(119, 114, 134);
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#scrollUpContainer:hover {
  background-color: #ada8bb;
  transition: all 0.15s linear;
}

#scrollUpContainer:active {
  background-color: #b7b7b7;
  transition: all 0.15s linear;
}


.aboutContainer {
  height: 550px;
  width: 600px;
  margin-top: 55vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  background:rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(255, 255, 255, .3);
}

.projectContainer {
  margin-top: 125px;
  border: 1px solid rgba(255, 255, 255, .3);
  height: 1000px;
  width: 950px;
  background:rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.contactContainer {
  margin-top: 300px;
  background:rgba(20, 20, 20, 0.9);
  height: 250px;
  border: 1px solid rgba(255, 255, 255, .3);
  margin-bottom: 120px;
  width: 520px;
  color: #9FA6F3;
  font-family: 'sofia-light';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.nameLogo {
  height: 100px;
  width: 100px;
  filter: grayscale(100)
}

.aboutHeader {
  font-family: 'sofia-light'!important;
  color: white;
}

.techStackItem {
  color: white;
  font-family: 'sofia-light'!important;
  padding: 6.5px 12.5px;
  width: 100%;
  font-size: 1rem!important;
  align-items: center;
  height: 20px;
  background-color: rgba(119, 114, 134, .5);
  border: 1px solid rgb(98, 97, 97);
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.techItemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}


.techStackContainer {
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 260px;
  padding: 15px;
  gap: 20px;
  cursor: pointer;
}

.techStackWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  gap: 20px;
  /* border: 1px solid red; */
  align-content: space-evenly;
  
}

#aboutScrollPointer {
  visibility: hidden;
  position: absolute;
  bottom: -120px;
}


#pythonLogo {
  width: 25px!important;
  margin-right: 5px;
}

.techLogo {
  height: 30px;
  width: 30px;;
}

.techItemWrapper {

}

#interestsContainer {
  color: white!important;
  font-family: 'sofia-light'!important;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 15px;
  background-color: rgba(119, 114, 134, .5);
}

.interestsText {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
}

.typingInterests {
  text-decoration: underline!important;
  color: #9fa6f3;
}



#typingContainer {
  font-size: .8rem;
}

.techdivider {
  background-color: white!important;
  color: white!important;
  z-index: 555;
}

.carouselContainer {
  margin-top: 0px;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carouselItemsContainer {
 
  width: 75%;
  height: 95%;
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
}

.carouselItems {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.carouselInner {
  display: flex;
  flex-direction: column;
  align-items: center;;
}

#carouselInnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.demoImg {
  height: 550px;
  width: 420px;
  object-fit: contain;
  position: relative;
  z-index: 2;
  display: block;
}

#demoimgContainer {
  overflow: hidden!important;
  filter:drop-shadow(1px 2px 5px black);
}



#overlay:hover {
  /* background: linear-gradient(0deg, rgba(71, 71, 71, 0), rgba(14, 14, 14, 0) 80%) no-repeat; */
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.1s ease-in;
}

.carouselItemName {
  font-family: 'sofia-light';
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 10px;
}

#carouselItemsInner {
  transform:
    perspective(800px)
    rotateY(-7deg);
  transition: transform 1s ease 0s;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.0) 0px 20px 30px 0px;

  filter: drop-shadow(0 0 1rem #777286);
}
#carouselItemsInner:hover {
    transform: perspective(800px) rotateY(-4deg);
  }

  #QuellID:hover {
    transform: perspective(800px) rotateY(-10deg);
  }




  .tabsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 50px;
  }

  #QuellID {
    transform: scale(-1 1);
    transform:
    perspective(800px)
    rotateY(-10deg);
  transition: transform 0.3s linear 0s;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0) 0px 20px 30px 0px;
  }

  .tabsContainerInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 50%;
  }


  .demoTechStack {
    border: 1px solid rgba(119, 114, 134, .5);
    width: 500px;
    padding: 10px;
    height: 200px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 40px;
    background-color: rgba(119, 114, 134, .5);
    border-radius: 3px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0) 0px 20px 30px 0px;
  }

  

  .demoTechStackInnerContainer {
    width: 400px;
    align-items: center;
    height: 150px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex-wrap: wrap!important;
  }

  .demoTechStackItem {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    width: 33%;
    font-family: 'sofia-light';
    color: white;
  }

  #linkedIn, #github, #email {
    color: white;
    filter: invert(75%) sepia(9%) saturate(5912%) hue-rotate(194deg) brightness(100%) contrast(91%);
  }

 
  .contactItem:hover {
    color: white;
  }



  .contactItem {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    text-decoration: underline;
  }

  .contactInnerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
  }

  .aboutMePicContainer {
    height: 140px;
    width: 140px;
    overflow: hidden;
    position: absolute;
    display: flex;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .9);
    bottom: -150px;
    border: 1px solid white;
  }

  .aboutMePic {
    min-height: 150%;
    bottom: 50px;
    right: 20px;
    min-width: 120%;
    position: relative;
    border: 1px solid red;
    margin: 0;
    opacity: 0.33;
    
  }


  .menuPicContainer {
    height: 140px;
    background-color: rgba(0, 0, 0, .9);
    width: 140px;
    overflow: hidden;
    position: absolute;
    display: flex;
    top: 65px;
    cursor: pointer;
    border: 1px solid white;
  }

  .menuPic {
    min-height: 175%;
    bottom: 50px;
    right: 30px;
    min-width: 135%;
    position: relative;
    border: 1px solid red;
    margin: 0;
    opacity: 0.33;
  }

  .menuPic:hover {
    opacity: 0.85;
  }

  .aboutMePic:hover {
    opacity: 0.85;
  }

  .mobileCarouselButtons {
    position: relative;
    
    z-index: 50;
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }